body {
    padding-top: 50px;
}

.app-container-gap {
    padding: 40px 15px;
    text-align: center;
}

.app-op-box {
    margin: 1px;
    padding: 10px 10px 10px 10px;
    border-style: dashed;
    border-width: 1px;
}

.app-form {
    padding: 50px 100px 50px 100px;
}

.app-half-form {
    padding: 10px 30px 10px 30px;
}

.app-op-area {
    text-align: center;
}

.app-btn {
    margin: 10px;
}

.app-title {
    font-size: 150%;
}

.app-item {
    font-size: 120%;
    padding-top: 5px;
}

.img-rounded {
    width: 64px;
    height: 64px;
}

.img-circle {
    width: 28px;
    height: 28px;
    border-radius: 50%;
}

.profile-box {
    margin: 10px 10px 10px 10px;
    padding: 10px 10px 10px 10px;
    border-style: dashed;
    border-width: 1px;
    border-color: grey;
    border-radius: 5%;
}

.sidebar {
    margin-top: 10px;
    text-align: left;
    border-width: 0 2px 0 0;
    border-style:solid;
    overflow-y: auto;
    overflow-x: auto;
}

.ztree {
}

.content {
    margin-top: 10px;
    padding: 0 15px 0 15px;
    overflow-y: auto;
    overflow-x: auto;
}
